# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
city_pd=pd.read_csv('city_data.csv')
city_pd.describe()

,Unnamed: 0,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Date
count,551.000000,551.000000,551.000000,551.000000,551.000000,551.000000,551.000000,5.510000e+02
mean,275.000000,20.238725,17.539936,12.053503,72.497278,58.867514,3.716969,1.668803e+09
std,159.204271,33.385558,90.136610,15.402445,20.088248,39.220990,2.626308,1.078969e+02
min,0.000000,-54.800000,-175.200000,-39.340000,9.000000,0.000000,0.000000,1.668803e+09
25%,137.500000,-7.501550,-61.624950,1.165000,63.000000,20.000000,1.790000,1.668803e+09
50%,275.000000,22.678300,20.750000,16.220000,77.000000,75.000000,3.050000,1.668803e+09
75%,412.500000,49.308450,98.192200,24.550000,87.000000,99.000000,5.035000,1.668803e+09
max,550.000000,78.218600,179.316700,38.580000,100.000000,100.000000,17.110000,1.668804e+09

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)

In [4]:
# create a humidity map
locations= city_pd[["Lat","Lng"]].astype(float)
humidity= city_pd["Humidity"]

hum_map=gmaps.figure()

heat_layer=gmaps.heatmap_layer(locations, weights=humidity, 
                               dissipating=False, max_intensity=100, point_radius=1)

hum_map.add_layer(heat_layer)

hum_map

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [10]:
# filter information based on the given criteria using .loc to pull the data that fits the requirements
fitting_weather_df=city_pd.loc[(city_pd["Max Temp"]<26.66)&(city_pd["Max Temp"]>21.11)&(city_pd["Wind Speed"]<10)&(city_pd["Cloudiness"]==0)]
city_df=fitting_weather_df[["City", "Lat","Lng","Country"]]
city_df

                  City      Lat       Lng Country
32   sao joao da barra -21.6403  -41.0511      BR
69              castro -24.7911  -50.0119      BR
153    arraial do cabo -22.9661  -42.0278      BR
197             lompoc  34.6391 -120.4579      US
203         nouadhibou  20.9310  -17.0347      MR
229               atar  20.5169  -13.0499      MR
232          montepuez -13.1256   38.9997      MZ
333             luanda  -8.8368   13.2343      AO
366             yulara -25.2406  130.9889      AU
371           benghazi  32.1167   20.0667      LY
391       saint-pierre -21.3393   55.4781      RE
486           kutiyana  21.6233   69.9817      IN

In [6]:
vacay_locations=city_df[["Lat","Lng"]]

In [7]:
vacay_locations
vacay_lat=vacay_locations["Lat"]
vacay_lng=vacay_locations["Lng"]

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# I worked the long route and pulled the hotel name by manually creating cells for each city

In [27]:
hotel_names=[]

In [28]:

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

target_coordinates1="-21.6403 , -41.0511"
target_search="Hotel"
target_radius=5000
target_type="hotel"

params = {
    "location": target_coordinates,
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": g_key
}

response=requests.get(base_url, params=params).json()

hotel_names.append(response["results"][0]["name"])

In [29]:
target_coordinates2="-24.7911,-50.0119"


params = {
    "location": target_coordinates2,
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": g_key
}

response=requests.get(base_url, params=params).json()

hotel_names.append(response["results"][0]["name"])

In [30]:
target_coordinates3="-22.9661,-42.0278"


params = {
    "location": target_coordinates3,
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": g_key
}

response=requests.get(base_url, params=params).json()

hotel_names.append(response["results"][0]["name"])

In [31]:
target_coordinates4="34.6391,-120.4579"


params = {
    "location": target_coordinates4,
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": g_key
}

response=requests.get(base_url, params=params).json()

hotel_names.append(response["results"][0]["name"])

In [32]:
target_coordinates5="20.9310,-17.0347"


params = {
    "location": target_coordinates5,
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": g_key
}

response=requests.get(base_url, params=params).json()

hotel_names.append(response["results"][0]["name"])

In [33]:
target_coordinates6="20.5169,-13.0499"

params = {
    "location": target_coordinates6,
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": g_key
}

response=requests.get(base_url, params=params).json()

hotel_names.append(response["results"][0]["name"])

In [34]:
target_coordinates7="-13.1256	38.9997"


params = {
    "location": target_coordinates7,
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": g_key
}

response=requests.get(base_url, params=params).json()

hotel_names.append(response["results"][0]["name"])

In [35]:
target_coordinates8="-8.8368	13.2343"


params = {
    "location": target_coordinates8,
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": g_key
}

response=requests.get(base_url, params=params).json()

hotel_names.append(response["results"][0]["name"])

In [36]:
target_coordinates9="-25.2406,130.9889"


params = {
    "location": target_coordinates9,
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": g_key
}

response=requests.get(base_url, params=params).json()

hotel_names.append(response["results"][0]["name"])

In [37]:
target_coordinates10="32.1167,20.0667"


params = {
    "location": target_coordinates10,
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": g_key
}

response=requests.get(base_url, params=params).json()

hotel_names.append(response["results"][0]["name"])

In [38]:
target_coordinates11="-21.3393,55.4781"


params = {
    "location": target_coordinates11,
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": g_key
}

response=requests.get(base_url, params=params).json()

hotel_names.append(response["results"][0]["name"])

In [39]:
target_coordinates12="21.6233,69.9817"


params = {
    "location": target_coordinates12,
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": g_key
}

response=requests.get(base_url, params=params).json()

hotel_names.append(response["results"][0]["name"])

In [42]:
len(hotel_names)

12

In [41]:
#added the list of hotel names to the city_df
city_df["Hotel Name"]=hotel_names
city_df

/var/folders/wv/h5pdqs5n7nsg_yqxw3ycpkp40000gp/T/ipykernel_8829/59776924.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  city_df["Hotel Name"]=hotel_names

,City,Lat,Lng,Country,Hotel Name
32,sao joao da barra,-21.6403,-41.0511,BR,Pousada Porto Prime
69,castro,-24.7911,-50.0119,BR,Hotel Buganville Express
153,arraial do cabo,-22.9661,-42.0278,BR,Sophia II Residence Inn
197,lompoc,34.6391,-120.4579,US,O'Cairns Inn & Suites
203,nouadhibou,20.9310,-17.0347,MR,Hotel Delphin-Nouadhibou
229,atar,20.5169,-13.0499,MR,Hôtel Lemina Ment Mata
232,montepuez,-13.1256,38.9997,MZ,residencial hafshin montepuez
333,luanda,-8.8368,13.2343,AO,Hotel Continental Luanda
366,yulara,-25.2406,130.9889,AU,Sails in the Desert
371,benghazi,32.1167,20.0667,LY,Tibesti Hotel
391,saint-pierre,-21.3393,55.4781,RE,Villa Delisle
486,kutiyana,21.6233,69.9817,IN,Vacharaj Hotel

In [49]:
#renamed the df to hit the next step
hotel_df=city_df

In [53]:
City=hotel_df["City"]
hotel_name=hotel_df["Hotel Name"]
Country=hotel_df["Country"]

In [54]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [62]:
locations

         Lat       Lng
32  -21.6403  -41.0511
69  -24.7911  -50.0119
153 -22.9661  -42.0278
197  34.6391 -120.4579
203  20.9310  -17.0347
229  20.5169  -13.0499
232 -13.1256   38.9997
333  -8.8368   13.2343
366 -25.2406  130.9889
371  32.1167   20.0667
391 -21.3393   55.4781
486  21.6233   69.9817

In [67]:
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# Add marker layer ontop of heat map
hum_map.add_layer(marker_layer)

# Display figure
hum_map

Figure(layout=FigureLayout(height='420px'))

In [9]:
#Ignore cell
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

vacay_locations
target_search="Hotel"
target_radius=5000
target_type="hotel"
# set up a parameters
params = {
    "location":vacay_locations, 
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": g_key
}
name_address = requests.get(base_url, params=params)
name_address

In [13]:
#ignore Cell
hotel_data=[]

#geocoodinates
vacay_locations
target_search="Hotel"
target_radius=5000
target_type="hotel"
# set up a parameters
params = {
    "location":vacay_locations, 
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": g_key
}

#requests =requests.get(base_url, params=params).json()
# Create counters
record_count = 1
set_count = 1

print("Beginning Data Retrieval.    ")
print("-----------------------------")
# Loop through all the cities in our list to fetch weather data
for location in locations:
    
   # requests
    #try:
   # requests.get(base_url, params=params)
        
        
    hotel_name=hotel_data["results"][0]["name"]
    hotel_data.append({"Hotel Name": hotel_name })
         # Log the url, record, and set numbers
    print("Processing Record %s of Set %s | %s" % (record_count, set_count, city))

        # Add 1 to the record count
    record_count += 1
   # except:
      #  print(f"No civilization near here.{location}")
        #pass

Beginning Data Retrieval.
-----------------------------

TypeError: list indices must be integers or slices, not str